{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Attention!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'assets/highrisk/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/highrisk/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/highrisk/css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'assets/highrisk/css/templatemo-main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/highrisk/css/owl-carousel.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    </head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->
<body>
    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>High Risk </h1>
                <span><em>CONTACT DOCTOR</em> Immediately</span>
            </div>
        </div>
    </div>

</body>
</html>